.container {
    height: 70px;
    width: 70px;
    padding: 0 5px;
    font-weight: 600;
}

.link {
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-small;
    word-wrap: break-word;
    cursor: pointer;
}

.link svg {
    width: 20px;
    height: 20px;
}