.container {
    display: grid;
    grid-template-areas: "logo header" "lateralMenu conteudo";
    grid-template-columns: 70px 1fr;
    grid-template-rows: 70px 1fr;
    height: 100%;
    width: 100%;
}